@font-face {
    font-family:'Inter'; 
    src: url(material/Inter.ttf); 
}

body {
    font-family: inter;
}

.Gray {
    color:#7f7f7f ;
}
main {
    max-width: 1000px;
    margin: 0 auto;
}

header{
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    text-decoration: none;

    position: fixed; /* Keep the header fixed at the top */
    top: 0; /* Position it at the top of the page */
    left: 0; /* Align it to the left */
    right: 0; /* Align it to the right */
    background-color: white; /* Set the background color to white */
    z-index: 1000; /* Ensure it stays above other content */



}

#Barky {
    width: 100px;
    height: auto;
}
.left {
    display: flex;
    align-items: center;
    gap: 20px;
}

.right{
    display: flex;
    align-items: center;
    gap: 20px;
}

#line {
    border-right: 2px solid gray;
    padding-right:20px ;
}

header a {
    font-size: small;
    color: black;
    text-decoration: none;

}

header a:hover {
    background-color:#f4f4f4 ;
    padding: 7px;
}

.Get-Barky {
    background-color: black;
    color: white;
    padding: 6px;
    border-radius: 4px;
    box-shadow: 1px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    font-size: small;

}

.Get-Barky:hover {
    background-color:#353535 ;
}


.sek1 {
    display: flex;
    margin: 100px auto;
}

#sek1left{
    flex-basis: 50%;
    width: 400px;
}

#imagesek1 {
    flex-basis: 50%;

}

#image1 {
    width: 100%;
}


.logor {
    padding: 15px;
}
.logorrad1 {
    display: flex;
    gap: 35px;
    align-items: center;
    justify-content: center; /* Centers horizontally */

}

#imgrad1 {
    width: 100px;
    height: auto;
}

#imgrad2 {
    width: 90px;
    height: auto;
}

.logorrad2 {
    padding-top: 10px;
    display: flex;
    gap: 35px;
    align-items: center;
    justify-content: center; /* Centers horizontally */

}

.sek2 {
    margin: 100px auto;
}
.sek2 p {
    width: 445px;
    margin-bottom: 25px;
}

.sek2 h1 {
    text-align: center;
}

#imgsek3sek4sek5 {
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Adjust values as needed */

}

.persons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
}

.Face-image {
    width: 60px;
}

.sek3 {
    margin: 100px auto;

}


#sek3rubrik {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 500px;
    margin: 0 auto;

}

#checkimg{
    width: 20px;
}

.lista3 {
    background-color: #f4f4f4;
    border-radius: 10px;
    padding: 30px;
    width: 500px;
    margin: 0 auto;
    margin-top: 20px;
}

#rader{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid gray;
    color: gray;
}

#Black {
    color: black;
}

#rad10 {
    border-bottom: none;
    display: flex;
    justify-content: space-between;
    color: gray;
}


.sek4 {
    margin: 100px auto;
}
#Built{
    text-align: center;
    align-items: center; /* Centrerar dem vertikalt om deras höjd varierar */
    justify-content: center; /* Centrerar dem horisontellt */

}

#Built h1 {
    margin-bottom: 0;
}

#Built p {
    font-size: small;
    padding-bottom: 30px;
}




.Emojis {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#Box1, #lineemoji, #Box3 {
    padding: 20px; 
    text-align: center; 
    width: 400px; 
}

#lineemoji {
     border-right: 1px solid gray ;
     border-left: 1px solid gray ;
} 

.Learnmore {
    border-bottom: 1px solid black;
}

.Learnmore:hover {
    color:#087fe7 ;
    border-bottom: 1px solid #087fe7;
}

.sek5 h1 {
    text-align: center;
    margin-bottom: 50px;
}

.sek5 {
    margin: 100px auto;
    margin-bottom: 0px;
}

.sek5LR {
    display: flex;
    padding-bottom: 40px;
    gap: 30px;
}

#sek5left {
    width: 450px;
}

#sek5right {
    flex-basis: 50%;
}


#badges {
    width: 100%;
    height: auto;
}


.Procent {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Creates four equal-width columns */
    justify-items: center; /* Centers each item horizontally */
    gap: 50px; /* Adds space between the grid items */
    text-align: center;
}

.Procent p {
    font-size: large;
    margin: 0;
}

.bignumber {
    font-size: 60px;
    margin: 0;
    color: #666666;
}

.Endmain {
    text-align: center;
    padding: 50px;

}

.footer {
    padding-top: 60px;
    border-top: 1px solid black;
    margin-top: 30PX;
    display: flex;
    justify-content: space-evenly;
}
#logofooter {
    width: 155px;
    margin-bottom: 20px;
}

#Minilista {
    display: flex; /* Enable Flexbox */
    flex-direction: column; /* Arrange items in a column */
}

.Words {
    margin-top: 8px; /* Optional: Adds some space between the links */
    text-decoration: none;
    color:#7f7f7f ;

}

.Words:hover{
    text-decoration: underline; /* Add underline on hover */

}


#apps {
    width: 30px;
    margin-bottom: 40px;
}

#footer1 {
    width: 300px;
}

